div.SideBySide {
	display: flex;
	flex-direction: row;
}

div.SideBySide div.left, div.SideBySide div.right {
	flex-basis: 50%;
	display: flex;
}

div.SideBySide div.left  div, div.SideBySide div.right div {

}

div.SideBySide div.left {
}

div.SideBySide div.right {
}