@import "./assets/fonts/Inter/inter.css";

* {
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  height: 100vh;
}

body {
  background-color: #F4F2F6
}

#root {
  height: 100%;
}
